/* Coolors Exported Palette - coolors.co/2b2b2b-42367b-e0ddcf-f1f0ea-474448 */

/* HSL */
$color1: hsla(0%, 0%, 17%, 1);
$color2: hsla(250%, 39%, 35%, 1);
$color3: hsla(49%, 22%, 85%, 1);
$color4: hsla(51%, 20%, 93%, 1);
$color5: hsla(285%, 3%, 27%, 1);

/* RGB */
$color1: rgba(43, 43, 43, 1);
$color2: rgba(66, 54, 123, 1);
$color3: rgba(224, 221, 207, 1);
$color4: rgba(241, 240, 234, 1);
$color5: rgba(71, 68, 72, 1);